.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: white;
  color: #333;
  border-bottom: 1px solid #eaeaea;
  z-index: 1;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.connectButton {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.searchBar {
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #f9f9f9;
}

.searchInput {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  background-color: transparent;
}

.searchIcon {
  position: absolute;
  right: 1rem;
  color: #888;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }

  .menuIcon {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    display: none;
  }

  .navOpen {
    display: flex;
  }

  .searchBar, .connectButton {
    width: 90%;
    max-width: 300px;
  }
}
