.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .productDetail {
    margin: 80px 0;
  }
  
  .productCard {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    background: rgb(241, 239, 239);
  }
  
  .productImage {
    flex: 1;
  }
  
  .productInfo {
    flex: 2;
    padding: 20px;
  }
  
  .productTitle {
    font-size: 24px;
    margin: 0;
  }
  
  .productDescription {
    font-size: 16px;
    color: #555;
  }
  
  .productPrice {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .creatorInfo {
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
  }
  
  .addToCartBtn {
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #0056d9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .addToCartBtn:hover {
    background-color: orangered;
    color: #fff;
  }
  
